html {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Sansation;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.container-h1 {
  display: flex;
  justify-content: center;
  z-index: 1;
  height: 65px;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  align-items: end;
  font-family: Sansation;
  height: 65px;
}
h1,
form {
  color: white;
}

#user-interface {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1.5em;
}

#main-buttons-div {
  display: flex;
}

#offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#offcanvas form {
  padding: 1rem;
}

.offcanvas-body {
  flex-grow: 0;
  padding-top: 0;
}

.offcanvas-header {
  padding-bottom: 0;
}

#offcanvas offcanvas-end {
  background-color: rgba(0, 0, 0, 0.5);
}

h5 {
  font-size: 2.5em;
  font-weight: normal;
  font-family: Sansation;
  color: white;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 90%;
}

.container-md {
  padding-left: 0;
  padding-right: 0;
}

img,
.texture-img-select {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.texture-img-select {
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

#planet-preview {
  display: flex;
  justify-content: center;
}

#planet-preview canvas {
  height: 100%;
  width: 100%;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control {
  border: 0;
}

form {
  font-weight: bold;
}

textarea {
  resize: none;
}

button {
  font-family: Sansation;
}

hr {
  padding: 0.5rem, 0.5rem;
  margin: 0.75rem;
}

.form-text {
  color: rgb(175, 175, 175);
}

.icon {
  margin: 8px;
  font-size: 1.75em;
  font-weight: lighter;
}

.planet-icon {
  margin: 20px;
  font-size: 1.25em;
  font-weight: lighter;
}

.system-icon {
  font-size: 1.5rem;
}

.table-dark {
  background-color: rgba(0, 0, 0, 0.25);
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
