html {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Sansation;
  overflow-y: hidden;
  position: fixed; /* Optional, sometimes helps */
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.btn {
  z-index: 1;
}

#user-interface {
  z-index: 1;
  font-weight: bold;
  font-size: 1.5em;
}

#main-buttons-div {
  display: flex;
}

table {
  text-align: center;
}

.main-menu {
  display: flex;
  flex-direction: column;
}

#main-menu-button {
  z-index: 1;
  margin: 12px;
  font-size: 2.5em;
  font-weight: lighter;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.unrotate {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

#offcanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#offcanvas form {
  padding: 1rem;
}

.offcanvas-body {
  flex-grow: 0;
  padding-top: 10;
}

.offcanvas-header {
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

#offcanvas offcanvas-end {
  background-color: rgba(0, 0, 0, 0.5);
}

h5 {
  font-size: 2rem;
  font-weight: normal;
  font-family: Sansation;
  color: white;
  display: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 90%;
}

h6 {
  font-family: Sansation;
}

.container-md {
  padding-left: 0;
  padding-right: 0;
}

img,
.texture-img-select {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.texture-img-select {
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

#planet-preview {
  display: flex;
  justify-content: center;
}

#planet-preview canvas {
  height: 100%;
  width: 100%;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control {
  border: 0;
}

form {
  font-weight: bold;
}

textarea {
  resize: none;
}

button {
  font-family: Sansation;
}

hr {
  padding: 0.5rem, 0.5rem;
  margin: 0.75rem;
}

.form-text {
  color: rgb(175, 175, 175);
}

.icon {
  margin: 12px;
  font-size: 1.6em;
  font-weight: lighter;
}

.planet-icon {
  margin: 10px;
  font-size: 1.25em;
  font-weight: lighter;
}

.credits-help-icon {
  margin: 10px;
  font-size: 1.25em;
  font-weight: lighter;
}

.system-icon {
  font-size: 1.5rem;
}

.table-dark {
  background-color: rgba(0, 0, 0, 0.25);
}

#credits-help-section {
  display: flex;
}

#planet-count-form {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem, 0.5rem;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  z-index: 9999;
  font-family: Sansation;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.mobile-offcanvas {
  border-top: 0.1rem solid rgb(147, 147, 147) !important;
  border-radius: 0.8rem;
}

#start-button {
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.loading-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-quote {
  margin: 1rem;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center; /* vertically center children */
  gap: 0.5rem; /* optional spacing between icon and text */
}

.help-icon {
  margin: 10px;
  font-size: 1.75rem;
  font-weight: lighter;
}

li p {
  height: 100%;
  padding: 4;
  display: inline;
  font-size: 1.2rem;
  margin: 0;
  font-family: Sansation;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
