html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Bungee Hairline;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

.container-h1 {
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 65px;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    align-items: end;
    font-family: Bungee Hairline;
    height: 65px;
}
h1,
form {
    color: white;
}

#user-interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*position: fixed;
    /*top: 0;
    /*left: 0;*/
    z-index: 1;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.5em;
}

#main-buttons-div {
    display: flex;
}

#offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#offcanvas form {
    padding: 1rem;
}

.offcanvas-body {
    flex-grow: 0;
}

#offcanvas offcanvas-end {
    background-color: rgba(0, 0, 0, 0.5);
}

h5 {
    font-size: 3em;
    font-weight: bolder;
    font-family: Bungee Hairline;
    color: white;
}

.container-md {
    padding-left: 0;
    padding-right: 0;
}

img,
.texture-img-select {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.texture-img-select {
    background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1));
}

#planet-preview {
    display: flex;
    justify-content: center;
}

#planet-preview canvas {
    height: 100%;
    width: 100%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ 
            color: white;
            opacity: 1; /* Firefox */
}

.form-control {
    border: 0;
}

form {
    font-weight: bold;
}

textarea {
    resize: none;
}

.form-text {
    color: rgb(175, 175, 175);
}

.icon {
    margin: 20px;
    font-size: 2em;
    font-weight: lighter;
}